html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #0e0e0e;
    /* overflow:hidden; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.central_container{
    background-color: white;
    width: 50%;
    height: 100%; 
    margin: auto;
}
.first{
    /* width: 100%; */
    /* height: 30%; */
    background-color: #1F2937;
    color: whitesmoke;
    font-style: Roboto;
    border: solid black;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 20%;
}
.subheader_1{
    width: 50%;
    display: flex;
    justify-content: center;
    color: #f9fAf8;
    font-size: 24px;
}
.subheader_2{
    width: 50%;
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;
    font-size: 18px;
}
.intro{
    /* border: dashed red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    height: 30%;
}
.main_text{
    width: 50%;
    /* height: 100%; */
    font-size: 24px;
    font-weight: 900;
    color: #f9fAf8;
    padding: 30px 40px;
}
#small_text{
    font-size: 10px;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
    color: white;
    border-radius: 20%;
    box-shadow: none;
}
.image{
    background-color: #63737d;
    height: 100%;
    width: 50%;
    /* border: solid yellow; */
    padding: 60px;
}
#random{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 900;
    background-color: white;

}
.boxes, .boxes_text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    flex-wrap: nowrap;
    background-color: white;
    align-items: center;
    align-content: center;
    gap: 7px;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}
.box_text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    padding: 11px;
}
.third{
    background-color: #E5E7EB;
    padding: 20px 100px;
}
#quote{
    font-size: 19px;
}
#thor{
    padding-left: 270px;
    font-size: 12px;
}
.fourth{
    background-color: white;
    padding: 70px 50px;
}
.blue_box{
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
}
.blue_box_text{
    font-size: 18px;
    font-weight: 500px;
}
.blue_box_btn{
    border-radius: 20%;
    border: solid white;
    margin-top: 50px;
    padding:0  5px;
    height: 30px;
    width: 100px;
}
.action_small_text{
    color: #E5E7EB;
    font-size: 16px;
}
.footer{
    background-color: #1F2937;
    /* height: 10%; */
    width: 100%;
    color: white;  
    font-size: 12px;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}