html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #0e0e0e;
    /* overflow:hidden; */
    height: 100%;
    width: 100%;
}
.central_container{
    background-color: white;
    width: 50%;
    height: 100%; 
    margin: auto;
}
.first{
    /* width: 100%; */
    /* height: 25%; */
    background-color: #1F2937;
    color: whitesmoke;
    font-style: Roboto;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.subheader_1{
    width: 50%;
    display: flex;
    justify-content: center;
    color: #f9fAf8;
    font-size: 24px;
}
.subheader_2{
    width: 50%;
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;
    font-size: 18px;
}
.intro{
    /* border: red solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.main_text{
    /* border: yellow solid; */
    width: 50%;
    font-size: 48px;
    font-weight: 900;
    color: #f9fAf8;
}
#small_text{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
    color: white;
    border-radius: 20%;
    box-shadow: none;
}
.image{
    background-color: #63737d;
    height: 100%;
    width: 30%;
    /* border: solid yellow; */
    padding: 50px;
}
#random{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 900;
}
.boxes, .boxes_text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}
.boxes_text{
    width: 100%;
    background-color: white;
}
.third{
    background-color: #E5E7EB;
    padding: 20px 100px;
}
.fourth{
    background-color: white;
    padding: 50px 50px;

}
.blue_box{
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-around;
}
.blue_box_text{
    font-size: 18px;
    font-weight: 500px;
}
.blue_box_btn{
    border-color: white;
    border-radius: 20%;
    /* padding: auto; */
    height: 20px;
    width: 100px;
}
.footer{
    background-color: #1F2937;
    height: 10%;
    width: 100%;
    color: white;  
    padding: 5px auto;
}